@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AspNetCoreMvcControllersActions.Models
@model Pessoa

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario</h1>

    <form action="/pessoa/formulario" method="post">
        <input type="text" name="Nome" />
        <input type="text" name="Telefone" />
        <input type="submit" name="Cadastrar" />

    </form>

</body>
</html>


