@using AspNetCoreMvcControllersActions.Models
@model Pessoa

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h1>Exibir pessoa</h1>

    @Model.Nome
   

 </body>
</html>
